<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>@ViewData["Title"] - Inprem Clockin App</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.min.css">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp" rel="stylesheet">
  <!-- Theme style -->
  <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
  <link rel="stylesheet" href="~/InpremClockingApp.styles.css" asp-append-version="true"/>
  <script src="~/lib/jquery/jquery.min.js"></script>

</head>
<body class="hold-transition login-page">
<div class="login-box">
@RenderBody()
</div>
<!-- ./wrapper -->
<!-- Bootstrap 4 -->
<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="~/dist/js/adminlte.min.js"></script>
<!-- Syncfusion ASP.NET Core Script Manager -->
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
